#about-section {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4vw;
    padding: 4vw;
    box-shadow: 0vw 0vw 3vw 0vw #00000080;
    z-index: 2;
}
#about-icon-card {
    display: flex;
    width: 20vw;
    padding: 2vw;
    border-radius: 2vw;
    box-shadow: 0 0 10px 0px var(--color-text-primary);
    align-items: center;
    justify-content: center;
}
svg.about-icon {
  margin: auto;
  width: fit-content;
  height: 70%;
  z-index: 1;
  fill: #6e6e6e24;
}


#about-text-wrapper {
    width: calc(100% - 20vw);
}
div#about-text-wrapper h2 {
    margin: auto;
}