#home-section {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: var(--color-text-primary);
  overflow: hidden;
}

svg.screen-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: 70%;
  z-index: 1;
  fill: #6e6e6e24;
}


.command-line::after {
  content: '';
  display: inline-block;        /* behaves like a character */
  width: .1em;                  /* your cursor width */
  height: 1em;                  /* one line high */
  margin-left: .1em;            /* gap between text and cursor */
  background-color: currentColor;
  vertical-align: bottom;       /* stick to the last line’s baseline */
  animation: blink 1.2s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

/* Introduction Header */
#introduction-wrapper {
  position: absolute;
  top: -5vw;
  bottom: 0;
  left: 6vw;
  margin: auto;
  width: calc(50% - 6vw);
  height: fit-content;
}
.intro-header {
  margin: auto;
  color: var(--color-bg);
  font-weight: 600;
  font-size: 5vw;
}
.intro-message {
  color: var(--color-primary);
}
.command-line {    
  white-space: pre-wrap;
  display:inline;
  line-height: 3vw;

}
p.intro-about {
  margin-top: 4vw;
  font-size: 2.1vw;
  color: var(--color-bg);
  font-weight: 600;
  line-height: 2.8vw;
  filter: drop-shadow(1px 3px 10px black);
}
/* PROFILE SECTION */
div#profile-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8vw;
  margin: auto;
  height: 50vh;
}
#profile-wrapper::before, 
#profile-wrapper::after {
  position: absolute;
  content: "";
  display: block;
  width: 22vw;
  max-width: 56%;
  height: 63vw;
  max-height: 120%;
  z-index: 1;
  transition: transform 0.5s ease;
}

#profile-wrapper::before {
  top: -15%;
  left: -10%;
  border-top-left-radius: 10vw;
  border-bottom-left-radius: 7vw;
  transform: translateY(-10vw);
  background: var(--color-primary-dark);
}
#profile-wrapper::after {
  top: 5%;
  right: -10%;
  border-top-right-radius: 6vw;
  border-bottom-right-radius: 10vw;
  transform: translateY(10vw);
  background: var(--color-success);
}

#profile-wrapper.profile-inview::before,
#profile-wrapper.profile-inview::after {
  transform: translateY(0);
}

#profile-img {
  position: relative;
  height: 50vw;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
  filter: drop-shadow(0px 1px 6px var(--color-text-primary));
}

@media (max-width: 580px) {

}