.screen-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding: 2rem;
    height: 100vh;
    background: radial-gradient(circle at center, rgba(26, 30, 35, 0.8) 0%, rgba(10, 10, 10, 1) 80%);
}
  
  .screen-bezel {
    box-sizing: border-box;
    width: 80vw;
    height: 70vh;
    background: #333;
    border: .5vw solid #222;
    border-radius: .5vw;
    box-shadow: inset 0 0 .5vw rgba(0, 0, 0, 0.7), 0 .5vw 1vw rgba(0, 0, 0, 0.5);
}
  
  .screen-content {
    box-sizing: border-box;
    height: 100%;
    background: #000;
    color: #0f0;
    padding: 1rem;
    font-family: 'Courier New', monospace;
    position: relative;
    overflow: hidden;
  }

  svg.screen-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: 70%;
    z-index: 1;
    fill: #34d16e14;
}

.intro-message {
    position: absolute;
    font-size: 2vw;
    color: var(--color-primary);
}
.command-line {    
    white-space: pre-wrap;
    display:inline;
    line-height: 3vw;

}

.command-line::after {
    content: '';
    display: inline-block;        /* behaves like a character */
    width: .1em;                  /* your cursor width */
    height: 1em;                  /* one line high */
    margin-left: .1em;            /* gap between text and cursor */
    background-color: currentColor;
    vertical-align: bottom;       /* stick to the last line’s baseline */
    animation: blink 1.2s steps(1) infinite;
  }

  @keyframes blink {
    50% { opacity: 0; }
  }


#homepage-nav {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}
  #homepage-nav a {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    min-width: 12vw;
    color: #34d16e;
    font-size: 2vw;
    font-weight: 700;
    padding: 1vw 4vw;
    border-radius: 1vw;
    border: .2vw solid #34d16e;
    box-shadow: 0px 0px 13px 0px black;
    scale: 0.9;
    transition: 0.2s ease-in-out;
}

#homepage-nav a:hover {
    color: var(--color-surface);
    background: #34d16e;
    scale: 1;
}
@media (max-width: 968px) {
  .intro-message {
    font-size: 3vw;
    line-height: 4vw;
  }
}
@media (max-width: 768px) {
  .screen-wrapper {
    gap: 5vw;
  }
  .screen-bezel {
    box-sizing: border-box;
    width: 100%;
    height: 60vh;
  }
  #homepage-nav {
    gap: 2vw;
  }
  #homepage-nav a {
    min-width: 20vw;
    font-size: 4vw;
  }
}

@media (max-width: 580px) {

  .screen-wrapper {
    gap: 7vw;
  }
  .intro-message {
    font-size: 4vw;
    line-height: 5.5vw;
  }

}