.skill-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12vw;
    height: 4vw;
    gap: 0.5vw;
    overflow: hidden;
    background: var(--color-surface);
}
.skill-card p {
    width: fit-content;
    min-width: 7.5vw;
    font-size: 1.5vw;
    font-weight: 500;
}
.skill-card img {
    width: auto;
    height: 100%;
    object-fit: contain;
}